
.a {
    width: 100%;
    height: 75px;
    line-height: 75px;
    }


.b {
    width: 100%;
    height: 150px;
    line-height: 150px;
    clear:left;

}

.c {
    width: 100%;
    height: 125px;
    line-height: 125px;
}


.d {
    width: 100%;
    height: 125px;
    line-height: 125px;
}


.e {
    float: left;
    line-height: 250px;
    width: 50%;
    height: 250px;
}

.f {
    float: right;
    line-height: 250px;
    width: 50%;
    height: 250px;
}

.g {
    float: left;
    line-height: 250px;
    width: 50%;
    height: 250px;
}

.h {
    float: right;
    line-height: 250px;
    width: 50%;
    height: 250px;
}

.i {
    width: 100%;
    line-height: 80px;
    height: 80px;
}

div {
    overflow: hidden;
}

@media only screen and (min-width: 481px)  {
    .a {
        width: 100%;
        height: 100px;
        line-height: 100px;
        }
        
    .b {
        width: 20%;
        height: 600px;
        line-height: 600px;
        float: left;
    }
    
    
    .c {
        height: 200px;
        line-height: 200px;
    }

    .div-c {
        width: 40%;
        display: inline-block;
        float: left;
    }
    .d {
        height: 200px;
        line-height: 200px;
    }

    
    .e {
        line-height: 250px;
        height: 250px;
    }
    
    .f {
        line-height: 250px;
        height: 250px;
    }
 
    .g {
        line-height: 250px;
        height: 250px;
    }
    
    .h {
        line-height: 250px;
        height: 250px;
    }
    
    .i {
        width: 80%;
        height: 150px;
        top: 550px;
        margin-left: 20%;
        line-height: 150px;
        position: absolute;
    }
    .two-div {
        width: 40%;
        float: left;
    }
}